<%- include('./base/header.ejs') %>

    <div class="container mt-5">

        <div class="text-center">

            <h1 class="display-4 text-primary">
                Welcome to Student Management System
            </h1>

            <p class="lead mt-3">
                Manage Student Records Easily and Efficiently.
            </p>

            <a href="/add/student" class="btn btn-success btn-lg mt-3">
                Add Student
            </a>

            <a href="/students" class="btn btn-primary btn-lg mt-3">
                Students List
            </a>

        </div>

    </div>

    <%- include('./base/footer.ejs') %>